@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.swal2-confirm, 
.swal2-cancel {
  color: white !important;      /* Visible text */
  font-weight: 500 !important;  /* Slightly bolder */
}

.swal2-confirm {
  background-color: #d33 !important; /* red delete button */
}

.swal2-cancel {
  background-color: #3085d6 !important; /* blue cancel button */
}
